html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background-color: black;
    color: white;
}

.nav1 {
    
}

.topNav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 15px;
    font-size: larger;
    font-family: 'Lato', sans-serif;
}

.topNav li {
    padding: 10px 100px;
}

.nav2 {
    background-image: url("../images/bgimage3.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
  
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* This is what makes the background image rescale based
        on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
        while the background image is loading */
    background-color: #464646;
    height: 850px;

}

.mainNav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding-right: 40px;
    padding-top: 30px;
}

.mainName {
    margin-top: 20%;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    text-shadow: 10px 10px 8px black;
    
}

#mainJob {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}

.mainAbout {
    margin-left: auto; 
}
.mainNav a {
    color: white
}

.linkSpace {
    padding-left: 50px;
    font-size: larger;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

nav h2 {
    font-family: 'Lato', sans-serif;
}
.about {
    
    
}
.subHeader {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    text-shadow: 3px 3px 7px black;
    text-align: center;
}
.profileImage {
    width: 150px;
    height: auto;
}

.aboutMe {
    
    
}
.resume {
    
}

.portfolio {

}

.contact {

}

@media screen and (max-width: 960px) {
    .topNav {
        display: block;
        padding: 0px;
    }

    .mainAbout {
        margin: 0;
    }
        
    .linkSpace {
        padding-left: 5px;
    
    }
    .mainNav {
        margin: 0px;
        padding-left: 20px;
        padding-top: 10px;
    }
  }