body {
    margin: auto 0;
    background-color: black;
    color: white;
    
}

.nav1 {
    
}

.topNav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 15px;
    font-size: larger;
}

.topNav li {
    padding: 10px 100px;
}

.nav2 {
    background-color: grey;
    color: black;
}

.mainNav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding-right: 40px;
}

.mainName {
    float: left;
    font-size: 40px;
    padding: 0;
}

.mainAbout {
    margin-left: auto; 
}
.mainNav a {
    color: white
}

.linkSpace {
    padding-left: 50px;
}

.about {

}

.resume {
    
}

.portfolio {

}

.contact {

}

@media screen and (max-width: 960px) {
    .topNav {
        display: block;
        padding: 0px;
    }
  }