body {
    margin: auto 0;
    background-color: black;
    color: white
}

.nav1 {
    
}

.topNav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    
}

.topNav li {
    padding: 10px 30px;
}

.nav2 {
    background-color: grey;
    color: black;
}

.mainNav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: center;
    list-style: none;
    margin: 0px;
    padding-right: 40px;
}

.mainName {
    grid-column: span 3;
    font-size: 40px;
    padding: 0;
}

.mainAbout {
    grid-column-start: 12;
}
.mainNav a {
    color: white
}
.mainNav li {
    margin: 20px;
}

.mainName{
    margin-left: auto;
}
.about {

}

.resume {
    
}

.portfolio {

}

.contact {

}


